#viewWinner {
  display: none;
  height: 30%;
  background-color: yellow;
}


#cardTable {
  min-width: 40%;
  min-height: 50%;
  background: green;
  display: none;
}

.container {
  max-width: 1000px;
  height: 90%;
  margin: 0 auto;
  display: inline-block;
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

#switchplayerscreen {
  display: none;
}

#playscreen {
  display: none;
}

.playerSpace {
  background-color: white;
  width: 500px;
  display: inline;
  margin: 30px;
}

.dealerSpace {
  background-color: grey;
  width: 500px;
  display: inline;
  margin: 10px;
}

/*#cardhit {
  display: none;
}

#cardstand {
  display: none;
}*/


#chips{
float: left;
text-align: right;
margin: 5px;
background: grey;
}

#bet{
float: right;

text-align: left;
margin: 5px;
background: red;
}

.single-left {
  background: #f7f7f7;
  color: #373737;
  /*float: left;
  width: 6.5rem;
  height: 10rem;*/
  border: 2px solid #373737;
  /*border-radius: .5rem;
  margin-left: -4.5rem;
  padding: .35rem;*/
}

.facevalue {
  font-size: 1.35rem;
}

.first {
  margin-left: 0;
  margin-left: 0;
}


#lucreset{

}

/*#dealer {
  float: right;
}

#one {
  margin: 0 auto;
  text-align: center;
}

#player {
  font-size: 48px;
  text-align: left;
  color: grey;
  margin: 120px 0 90px;
  font-weight: 600;
}*/
