.container {
  max-width: 1000px;
  margin: 0 auto;
  display: block;  
}

#chips{
float: left;
width: 50%;
text-align: right;
margin: 5px;
background: grey;
}

#bet{
float: right;
width: 50%;
text-align: left;
margin: 5px;
background: red;
}

#lucreset{

}

/*#dealer {
  float: right;
}

#one {
  margin: 0 auto;
  text-align: center;
}

#player {
  font-size: 48px;
  text-align: left;
  color: grey;
  margin: 120px 0 90px;
  font-weight: 600;
}*/
